


@{
    ViewData["Title"] = "CynlinderCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



@*<main id="main" class="main">

    <div class="pagetitle">
        <h1>General Tables</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">General</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

  <section class="section">

    <div class="row">

      <div class="col-lg-6">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Cynlinder  Category</h5>

                @if(Model.Count() > 0)
                {
                    <table class="table">

                        <thead>
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">Name</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>

                        <tbody>
                            @if(var gas in Model)
                            {
                                <tr>
                                    <th scope="row">1</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }


                        </tbody>
                    </table>
                }

            </div>
        </div>

      </div>

    </div>

  </section>


</main>*@