@model IEnumerable<GasPOS.ViewModel.CynlinderCategoryViewModel>

@{
    ViewData["Title"] = "CynlinderCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main id="main" class="main">

    <div class="container-fluid">
      <div class="row pt-4 mt-5">


            <div class="col-12">
                <div class="col-auto float-right ml-auto offset-5">
                    <a href="#" class="btn rounded-pill text-white offset-5" data-bs-toggle="modal" data-bs-target="#smallModal" style="background-color: #012970;">
                        Add Cynlinder Category
                    </a>
                </div>
                <h2 class="text-white text-center py-2 rounded-pill" style="margin-top:10px; background-color:#012970;">CYNLINDER CATEGORY</h2>
            </div>

            @if (Model.Count() > 0)
            {
                <table class="table table-striped table-bordered" style="width:100%">

                    <thead>
                        <tr>
                            <th class="text-center">Name</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">Active</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var gas in Model)
                        {
                            <tr>
                                <td width="5%" class="text-center">@gas.Name</td>
                                <td width="5%" class="text-center">@gas.Quantity</td>
                                <td width="5%" class="text-center">
                                    <div class="w-10 btn-group" role="group">
                                        <a asp-asp-controller="Admin" asp-action="EditCynlinderCategory" class="mx-5 text-dark">
                                            <i class="bi bi-pencil-square"></i>EDIT
                                        </a>
                                        <a asp-asp-controller="Admin" asp-action="DeleteCynlinderCategory" class="mx-5 text-center text-dark">
                                            <i class="bi bi-trash-fill"></i>DELETE
                                        </a>
                                    </div>
                                </td>
                            </tr>

                        }
                    </tbody>

                </table>
            }
      </div>

    </div>





    <div class="modal fade" id="smallModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> CYNLINDER CATEGORY </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                          
                    <div class="form-group">
                        <label>Gas Name</label>
                        <input class="form-control" type="text" id="name"/>
                    </div>

                    <div class="form-group">
                        <label>Gas Quantity</label>
                        <input class="form-control" type="text" id="quantity"/>
                    </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                    <button type="button" class="btn btn-primary" onclick="addCategory()">Add CynlinderCategory</button>
                </div>
            </div>
            </div>
        </div>
    </div>
    
</main>

 

