@model GasPOS.ViewModel.CynlinderViewModel

@{
    ViewData["Title"] = "GetCynlinderByCynlinderId";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">

    <div class="row mt-3">
        <div class="col-lg-6">
            <img src="@Model.ImageUrl" class="img-fluid" alt="" style="width:100%; height:80%;"/>
        </div>


        <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3 class="text-white text-center py-2 rounded-pill" style="margin-top:30px; background-color:#012970;">Cynlinder Details</h3>

            <div class="row mt-3">
                <div class="col-3">
                    <p class="text-flex">Name:</p>
                </div>
               <div class ="col-3">
                    <input type="tel" id="name" required disabled class="text-center offset-3" value="@Model.Name" />
               </div>
            </div>

             <div class="row mt-3">
               <div class="col-3">
                   <p class="text-flex">Price:</p>
               </div>
                <div class="col-3">
                    <input type="tel" class="text-center offset-3" id="price" disabled required value="@Model.Price" />
                </div>
             </div>

             <div class="row mt-3">
               <div class="col-3">
                    <p class="text-flex">CynlinderCategory:</p>
               </div>
               <div class="col-3">
                    <input type="tel" id="cynlinderCategoryName" required disabled class="text-center offset-3" value="@Model.CynlinderCategoryName" />
               </div>
             </div>

            <div class="row mt-3">
                <div class="col-3">
                    <p class="text-flex">QuantityKG:</p>
                </div>
                <div class="col-3">
                    <input type="tel" name="number" class="text-center offset-3" id="quantity" onchange="calculatPrice()" required>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-3">
                    <p class="text-flex">Total Amount:</p>
                </div>

                <div class="col-3">
                    <input type="tel"  id="totalamount" class="text-center offset-3" required disabled />
                </div>
            </div>


            <div id="form22" class="row mt-3" style="display:none;">
                <div class="col-3">
                    <p class="text-flex">Name:</p>
                </div>

                <div class="col-3">
                    <input type="tel" id="customerName" class="text-center offset-3" required />
                </div>
            </div>


            <div id="form21" class="row mt-3" style="display:none;">
                <div class="col-3">
                    <p class="text-flex">PhoneNumber:</p>
                </div>

                <div class="col-3">
                    <input type="tel"  id="customerPhoneNumber" class="text-center offset-3" required />
                </div>
            </div>

            
           <div class="col-12 pt-5">
                <button class="btn btn-primary w-100 rounded-pill" type="submit" onclick="customerOrder()">Order</button>
           </div>

        </div>
    </div>


</div><!-- End testimonial item -->

<script>

    function calculatPrice(){
        debugger;
        var price = $('#price').val();
        var quantity = $('#quantity').val();
        if(price != null && quantity != null){
            var total = price * quantity;
            $('#totalamount').val(total);
            document.getElementById("form22").style = "block";
            document.getElementById("form21").style = "block";
        }
    }
</script>


